body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 196, 0, 0.884);
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 30px;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 40px;
}

nav h1 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    display: inline-block;
}

nav ul li a:hover {
    color: black;
    transform: scale(1.5);
}

.banner {
    background: url("https://ponceproducciones.com/wp-content/uploads/2024/03/Fiestas-y-eventos.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 10px black;
}

.servicios {
    padding: 40px;
    text-align: center;
}

.servicios h2 {
    font-size: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.galeria {
    padding: 40px;
    text-align: center;
}

.galeria h2 {
    font-size: 30px;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.imagenes img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    font-size: 28px;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}

.contacto {
    padding: 40px;
    text-align: center;
    background: #f4f4f4;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.banner-secundario {
  background: #000;
  padding: 1px 0;   /* reduce grosor de la franja */
  text-align: center;
}

.banner-secundario .texto-animado {
  color: #FFD700;
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.banner-secundario .texto-animado span{
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid #FFD700;
  width: 0;
  box-sizing: content-box;
  font-family: monospace;

  animation: typingCycle 11s steps(21) infinite,
             glow 1.2s infinite alternate;
}

/* ESCRIBIR LENTO → PAUSA 4s → BORRAR */
@keyframes typingCycle {
  0%   { width: 0ch; }

  /* escribe lento */
  40%  { width: 21ch; }

  /* queda escrito 4s */
  75%  { width: 21ch; }

  /* borra */
  100% { width: 0ch; }
}

/* brillo suave */
@keyframes glow {
  from { text-shadow: 0 0 3px #FFD700, 0 0 6px #FFD700; }
  to   { text-shadow: 0 0 10px #FFD700, 0 0 14px #ffea00; }
}

body {
  margin: 0;
  padding: 0;
}

.banner-imagen {
  width: 100%;
  height: 870px;   /* AJUSTA ESTE VALOR */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}




